.web-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: url("./pet-bg.jpg") center repeat; */
    background: url("./v1008-35.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    flex: 1;
}

.title_pos{
    display: flex;
    justify-content: center;

}