.web-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: url("./pet-bg.jpg") center repeat; */
    background: url("./misc/v1008-35.jpg");
    background-size: cover;
}

.lol{
    border: solid black
}

.moved{
    margin-left: 7px ;
}

.spacing{
    margin-left: 7px !important;
}

.white_spacing_up{
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}

.mv_up{
    margin-right: 10px;
}

.alert_mv{
    margin-top: -15px;
}