
/* AccountStyles.css */
#account-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("../Home/misc/sl_011023_55240_03.jpg");
    background-size: cover;
    background-position: center;
    
}

.account-header {
    color: #2a313e; /* 標題的顏色 */
    font-weight: bold; /* 標題字體加粗 */
    
}

.account-card {
    padding: 20px; /* 卡片内部的间距 */
    font-size: 18px; /* 文本大小 */
    width: 50vw; /* 宽度为视口宽度的50% */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    
    /* 布局和边框 */
    box-sizing: border-box; /* 确保padding不会影响总宽度 */
    border-radius: 20px; /* 圆角边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果，提升立体感 */
    box-sizing: border-box;
    
    /* 背景和颜色 */
    color: #333; /* 字体颜色，用较深的灰色代替纯黑色减少对眼睛的刺激 */
    
    /* 文本对齐和装饰 */
    text-align: left; /* 文本左对齐 */
    line-height: 1.6; /* 行高，提升可读性 */
    
    /* 过渡效果 */
    transition: box-shadow 0.3s ease-in-out; /* 鼠标悬浮时阴影过渡效果 */
  }
  
  /* 鼠标悬浮时改变阴影效果，增加交互性 */
  .account-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* 增加了模糊半径和阴影的不透明度 */
  }
  
  

.account-form-group {
    margin-bottom: 15px; /* 表單元素的間距 */
    
}

.account-button {
    padding: 10px 20px; /* 按钮内部的间距 */
    font-size: 16px; /* 文本大小 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 轻微的圆角边框 */
    cursor: pointer; /* 鼠标悬浮时显示指针 */
    transition: background-color 0.3s ease-in-out; /* 背景颜色过渡效果 */
    
    /* 文本颜色 */
    color: white;
    

    
    /* 阴影效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
    /* 去除点击时的边框 */
    outline: none;
  }
  
  /* 鼠标悬浮时的样式 */
  .account-button:hover {
    background-color: #0056b3; /* 鼠标悬浮时的背景颜色 */
  }
  
  /* 按钮激活（点击）时的样式 */
  .account-button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* 内嵌阴影，给予点击的感觉 */
  }
  
  /* 禁用状态的按钮样式 */
  .account-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed; /* 鼠标悬浮时显示禁止标志 */
  }
  

/* styles.css */

.account-container {
    flex-grow: 1; /* 允许容器填充可用空间 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: center;
    flex: 1;
    
  }
  



/* 更多自定義樣式 */
