
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 230, 230);
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .action-users {
    display: flex;
  }
  
  .post-edit{
        /* background: burlywood; */
        background: url("./5897221.jpg") center repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        width: 260px;
        margin-left: 55px;
        margin-right: 27px;

  }

  .post-edit2{
    display: flex;
    margin-left: 99px;
  }

  .btn-edit{
    border-radius: 20px;
  }