/* html, body {
    height: 100%;
    margin: 0;
  } */

  
.footer-d{
    background-color: #e7ecf1; 
    border-top: 1px solid #e7e7e7; 
    text-align: center  ; 
    justify-content: center;
    display: flex;
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 

}



.nav-ed{
  /* justify-content: center; */
}